@page "/fetchdata"
@using QuizMaster.Shared
@inject HttpClient Http

<h1>Great Film Noir Movies to Check Out Today!</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Year</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in movies)
            {
                <tr>
                    <td>@forecast.Name</td>
                    <td>@forecast.Year</td>
                    <td>@forecast.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Movie[] movies = new Movie[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            movies = await Http.GetFromJsonAsync<Movie[]>("/api/Movies") ?? new Movie[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
